* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #DEDEDE;
    overflow-x: hidden; 
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px; 
    background-color: #F5F5F5;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 70px;
    font-weight: bold;
    color: #414141;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 10px;
}

.nav a {
    font-size: 18px;
    text-decoration: none;
    color: #414141;
    white-space: nowrap;
}

.favorites, .cart {
    position: relative;
    font-size: 30px;
    color: #414141;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.heart-zero, .cart-zero {
    font-size: 14px;
    background-color: gray;
    color: #EFEFEF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -5px;
    right: -10px;
    font-weight: bold;
    padding: 2px 6px;
    transition: background-color 0.3s;
}

.heart-zero.active,
.cart-zero.active {
    background-color: black; 
}

.hero {
    position: relative;
    text-align: left;
    color: #EFEFEF;
}

.hero-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: brightness(90%);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    text-align: left;
}

.hero-text h2 {
    font-size: 36px;
    color: #EFEFEF;
}

.go-to-catalog {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    color: #EFEFEF;
    border: 2px solid #EFEFEF;
    cursor: pointer;
}

.go-to-catalog:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.trends {
    text-align: left;
    margin-left: 1.5cm;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    color: #414141;
}

.trend-images {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}


.trend-container {
    position: relative;
    overflow: visible;
}

.trend-image {
    position: relative; 
    width: 400px; 
    height: 400px; 
    object-fit: cover; 
    border: 2px solid #a7a098;
    border-radius: 10px;
    filter: brightness(90%);
}

.heart {
    position: absolute;
    top: 18px;
    right: 48px;
    width: 40px;
    height: 40px;
    background-color: #EFEFEF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 10; 
}


.heart i {
    font-size: 20px;
    color: #414141;
}

.heart.active {
    background-color: #414141;
}

.heart.active i {
    color: #EFEFEF;
}

.trend-container{
    padding: 15px;
    flex-grow: 1;
    text-align: left;
}

.trend-container h3 {
    margin: 10px 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
}

.trend-container .subtitle {
    margin: 0 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #666;
}

.trend-container .price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.trend-container .buttons {
    display: flex;
    justify-content: flex-start; 
    gap: 10px;
    margin-top: 10px;
}

.trend-container .buttons button {
    width: 130px;
    padding: 10px 15px;
    border: 2px solid #414141;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.trend-container .details {
    background-color: #EFEFEF;
    color: #414141;
}

.trend-container .details:hover {
    background-color: #414141;
    color: #EFEFEF;
}

.trend-container .order {
    background-color: #414141;
    color: #EFEFEF;
}

.trend-container .order:hover {
    background-color: #a7a098;
}

.flower-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; 
    margin-top: 75px;
}

.flower-section {
    position: relative;
    width: 105%;
    max-width: 2000px; 
    height: 200px; 
    overflow: hidden;
    border-radius: 10px;
}

.overlay-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.overlay-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.overlay-text {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}